annotated-types==0.7.0
avro==1.12.0
casefy==0.1.7
certifi==2024.8.30
charset-normalizer==3.3.2
confluent-kafka==2.5.3
dacite==1.8.1
dataclasses-avroschema==0.62.11
fastavro==1.9.5
icdiff==2.0.7
idna==3.8
inflection==0.5.1
iniconfig==2.0.0
mypy==1.11.2
mypy-extensions==1.0.0
packaging==24.1
pluggy==1.5.0
pprintpp==0.4.0
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
pytest==8.3.2
pytest-icdiff==0.9
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
six==1.16.0
typing_extensions==4.12.2
urllib3==2.2.2
