astor==0.8.1
attrs==21.2.0
avro-python3==1.10.0
bandit==1.7.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
confluent-kafka==1.7.0
coverage==5.5
cryptography==3.4.8
dacite==1.6.0
darglint==1.8.0
dataclasses-avroschema==0.23.0
docutils==0.17.1
eradicate==2.0.0
Faker==8.12.1
fastavro==1.4.4
flake8==3.9.2
flake8-bandit==2.1.2
flake8-broken-line==0.3.0
flake8-bugbear==21.4.3
flake8-commas==2.0.0
flake8-comprehensions==3.6.1
flake8-debugger==4.0.0
flake8-docstrings==1.6.0
flake8-eradicate==1.1.0
flake8-isort==4.0.0
flake8-polyfill==1.0.2
flake8-quotes==3.3.0
flake8-rst-docstrings==0.2.3
flake8-string-format==0.3.0
gitdb==4.0.7
GitPython==3.1.18
idna==3.2
inflect==5.3.0
iniconfig==1.1.1
isort==5.9.3
loguru==0.5.3
mccabe==0.6.1
mypy==0.910
mypy-extensions==0.4.3
packaging==21.0
pbr==5.6.0
pep8-naming==0.11.1
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.8.2
pydocstyle==6.1.1
pyflakes==2.3.1
Pygments==2.10.0
pykerberos==1.2.1
pyparsing==2.4.7
pytest==6.2.4
pytest-cov==2.12.1
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
requests-kerberos==0.12.0
restructuredtext-lint==1.3.2
six==1.16.0
smmap==4.0.0
snowballstemmer==2.1.0
stevedore==3.4.0
testfixtures==6.18.1
text-unidecode==1.3
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.6
wemake-python-styleguide==0.15.3
