alabaster==0.7.13
annotated-types==0.6.0
Babel==2.14.0
casefy==0.1.7
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
confluent-kafka==1.7.0
cryptography==41.0.7
dacite==1.8.1
dataclasses-avroschema==0.53.1
decorator==5.1.1
docutils==0.17.1
Faker==22.0.0
fastavro==1.9.2
gssapi==1.8.3
idna==3.6
imagesize==1.4.1
importlib-metadata==7.0.1
Inflector==3.1.0
Jinja2==3.1.2
krb5==0.5.1
MarkupSafe==2.1.3
packaging==23.2
pycparser==2.21
pydantic==2.5.3
pydantic-settings==2.0.3
pydantic_core==2.14.6
Pygments==2.17.2
pyspnego==0.10.2
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
requests-kerberos==0.14.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.4.0
sphinx-autodoc-typehints==1.17.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
typing_extensions==4.9.0
urllib3==2.1.0
zipp==3.17.0
